
  .navback{
    background-image: url(./assets/images/home-background.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* color: white; */
    background-color: white;
  }
  .overlay{
    width: 100%;
    height: 100%;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: rgba(7, 3, 3, 0.7);
  }
  .text{
    color: #FFFFFF;
    text-align: center;
    z-index: 12;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    height: 80vh;
    /* margin: 20px; */
  }
  .text h1{
    font-size: 65px;
    margin: 20px;
  }
  .text p{
    font-size: 18px;
  }
  .text .button1, .text .button2{
    height: 50px;
    width: 100px;
    /* background-color: #DF4F53; */
    padding: 10px 25px;
    margin: 10px;
    color: white;
    box-shadow:  5px white;
    border-radius: 10px;
    font-size: large;
    border: 3px ridge #e0d6d3;
  }
  .text .button1{
    background-color: #DF4F53;
    color: #000;
    outline: none;
  }
  .search{
    display: flex;
    justify-content: center;
    box-shadow:  0 4px 8px 0 rgba(252, 251, 251, 0.952), 0 6px 20px 0 rgba(241, 238, 238, 0.938);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    width: 80vw;
  }
  .search select:nth-child(1){
    width: 25vw;
    height: 65px;
    border-radius: 10px 0px 0px 10px;
    outline: none;
    border: none;
    font-weight: 400;
    border-right: 2px solid rgb(177, 175, 175);
    font-size: 20px;
  }
  .search select:nth-child(3){
    width: 25vw;
    height: 65px;
    /* border-radius: 0px 10px 10px 0px; */
    outline: none;
    font-weight: 400;
    border: none;
    border-right: 2px solid rgb(177, 175, 175);
    font-size: 20px;
    
  }
 .search select:nth-child(2){
  width: 25vw;
  height: 65px;
  outline: none;
  border: none;
  font-weight: 400;
  border-right: 2px solid rgb(177, 175, 175);
  font-size: 20px;
 }
 input:focus{
  border: 0px;
  background-color: #eee1d4;
  outline: none;
 }
 .search input[type="submit"]{
  width: 15vw;
  background-color: #963103;
  color: white;
  font-weight: 400;
  height: 65px;
  border-radius: 0px 10px 10px 0px;
  outline: none;
  border: none;
  border-right: 2px solid rgb(177, 175, 175);
  font-size: 20px;
 }

 .formContainer{
  width: 100%;
  background: hsla(233, 100%, 90%, 1);

  background: linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

  background: -moz-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

  background: -webkit-linear-gradient(90deg, hsla(233, 100%, 90%, 1) 0%, hsla(0, 0%, 89%, 1) 100%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#cad0ff", endColorstr="#e3e3e3",       GradientType=1 );
  padding: 10px;
  /* background-color: #F9FCFE; */
  /* background-color: #0E0E0E; */
 }

 .registerForm{
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  -webkit-box-shadow: inset 2px 5px 10px rgb(64, 66, 62); 
  -moz-box-shadow: inset 2px 5px 10px rgb(64, 66, 62);
  box-shadow: inset 2px 5px 10px rgb(64, 66, 62);
  border: none;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
 }
.inputs{
  height: 50px;
  width: 100%;
  margin-top: 20px;
  box-shadow: inset 2px 5px 10px rgb(86, 87, 85);
  border: none;
  border-radius: 10px;

}
.regButton{
  margin-top: 20px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: black;
  font-weight: 600;
  font-size: 20px;
  border: none;
  box-shadow:2px 5px 10px rgb(19, 18, 18), 5px 5px 10px rgb(19, 18, 18);
  -webkit-box-shadow: 2px 5px 10px rgb(19, 18, 18), 5px 5px 10px rgb(19, 18, 18);
  -moz-box-shadow: 2px 5px 10px rgb(19, 18, 18), 5px 5px 10px rgb(19, 18, 18);

}
span{
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: red;
  display: none;
}
.inputs:invalid[focused="true"] ~ span{
display: block;
}
.inputs:valid[focused="true"] {
  border: 3px ridge green;
  outline: none;
  -webkit-box-shadow: 2px 5px 10px rgb(198, 250, 131);
  -moz-box-shadow: 2px 5px 10px rgb(198, 250, 131);
  box-shadow: inset 2px 5px 10px rgb(198, 250, 131);
}
.inputs:invalid[focused="true"] {
  border: 3px ridge red;
  outline: none;
  -moz-box-shadow: inset 2px 5px 10px rgb(248, 115, 92);
  -webkit-box-shadow: inset 2px 5px 10px rgb(248, 115, 92);
  box-shadow: inset 2px 5px 10px rgb(248, 115, 92);
}
.field div{
  position: relative;
}
.visibility{
  position: absolute;
  right: 15px;
  top: 35px;
}

.header{
   font-family:Verdana, Geneva, Tahoma, sans-serif;
   height: 70px;
   overflow: hidden;
  }
  .slider{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slider ul{
    width: 100%;
    transition: 0.3s ease;
    display: flex;
    justify-content: right;
    padding-top: 20px;
  }
  .slider ul li{
    margin-block: 0.1rem;
    margin-inline: 2rem;
    font-weight: 600; 
    list-style: none;
  }
  .slider ul li a{
    text-decoration: none;
    font-size: 17px;
    color: #fff;
  }
  .logoLx{
    padding-left: 20px;
    color: white;
  }
  .slider ul .menu{
    display: none;
  }
  .logo{
    display: none;
  }
  .showmenu{
    font-size: 20px;
    font-weight: 400;
    display: block;
    cursor: pointer;
    color:rgb(86, 87, 85);
    display: none;
  }


  @media screen and (max-width : 1050px){
    .header{
      height: 75px;
      padding-inline: 10px;
      padding-top: 10px;
      /* position: sticky; */
      top: 0px;
      background-color: #F7F7F7;
      z-index: 20;
    }
    .slider{
      min-width: 80%;
      height: 85vh;
      align-items: start;
      position: fixed;
      right: -100%;
      margin-top: -75px;
      transition: 0.5s ease;
      z-index: 100;
      border-radius: 5px;
      background-color: whitesmoke;
    }
    .slider.active {
      right: 0;
      transition: 0.5s ease;
      width: 80%;
      height: 100vh;
    }
    .slider ul .menu{
      text-align: center;
      display: block;
      padding-block: 1rem;
      border-top: 0px;
      background-color: #fff;
      font-weight: 600;
      font-size: 16px;
      margin-top: 0px;
    }
    .slider ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      /* align-items: center; */
      padding-left: 0px;
      margin-left: 0px;
    }
    .slider ul li{
      margin-block: 0rem;
      padding-block: 1rem;
      list-style: none;
      border: 1px solid rgb(224, 219, 219);
      border-inline: 0px;
      width: 100%;
      margin-left: 0px;
      padding-left: 10px;
      font-weight: 600; 
      font-size: 14px;
      background-color: whitesmoke;
    }
    .slider ul li a{
      text-decoration: none;
      width: 100%;
      color: rgba(5, 5, 5, 0.7);
      cursor: pointer;
      color: #fff;
    }
    .largeSc{
      display: flex;
      justify-content: space-between;
      /* margin: 0px 20px; */
      align-items: center;
    }
    .showmenu{
      font-size: 30px;
      font-weight: 300;
      display: block;
      cursor: pointer;
      color:#FF5363;
    }
    .slider ul .lastLink{
      border-bottom: 0px;
    }
    /* .closed{
      font-size: 30px;
      font-weight: 600;
      display: flex;
      width: 100%;
      cursor: pointer;
      justify-content: flex-end;
      margin-right: 30px;
      color: white;
    } */
    .logo{
      text-align: center;
      color: white;
      display: block;
    }
    .logoLx{
      display: none;
    }
  }

  

  @media screen and (max-width : 750px){
    .navback{
      height: 100%;
    }
    .text{
      padding: 10px;
      height: 80%;
      /* margin: 20px; */
    }
    .text h1{
      font-size: 45px;
      margin: 20px;
    }
    .text p{
      font-size: 16px;
    }
    .search{
      display: block;
      box-shadow:  0 4px 8px 0 rgba(252, 251, 251, 0.952), 0 6px 20px 0 rgba(241, 238, 238, 0.938);
      padding: 10px;
      border-radius: 10px;
      width: 90vw;
      margin: 30px auto;
    }
    .search select:nth-child(1),
    .search select:nth-child(2),
    .search select:nth-child(3){
      width: 80vw;
      margin: 10px auto;
      border-radius: 10px 10px 10px 10px;
      display: flex;
    }
    .search input[type="submit"]{
      width: 30vw;
      margin: 10px auto;
      border-radius: 10px 10px 10px 10px;
      display: flex;
      height: 45px;
      justify-content: center;
    }
    .registerForm{
      width: 100%;
    }
    .inputs{
      width: 100%;
    }


  }




  #app {
    height: 100%;
  }
  html,
  body {
    position: relative;
    height: 100%;
  }
  
  body {
    background: #F7F7F7;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }
  
  .swiper {
    width: 100%;
    height: 40%;
    margin: 0px 30px;
    display: flex;
  }
  
  .swiper-slide {
    /* text-align: center; */
    font-size: 18px;
    background: #fff;
    
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
  }
  .swiContainer{
    padding: 10px;
    border: 2px solid #FFFFFf;
    height: 50vh;
    background-color:#FFFFFF;
  }
  .featureCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .featureCont a{
    font-size: 17px;
    text-decoration: none;
    font-weight: 600;
    color: #485665;
  }
  .featureCont p{
    font-size: 16px; 
  }
  .featureCont h1{
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
  }
  .subFeatures{
    display: flex;
    width: 70%;
    justify-content: space-between;
    font-size: 15px;
  }
  .feaName{
    padding-top: 20px;
    color: #FF5363;
  }
.features h1{
  font-size: 20px;
  font-weight: 600;
  margin-top: -10px;
}
.features h1:hover, .features p:hover{
 color: #FF5363;
 cursor: pointer;
}
.features p, .cities p{
  font-size: 14.2px;
}
  
.swiper-slide img {
    /* background-image: url(./assets/images/home-background.jpg); */
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
  }
  .citesBackground{
    background-color: #FFFFFF;
    margin-top: 40px;
  }
  .cites h1{
    padding-top: 20px;
    font-size: 1.7rem;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }
  .cites{
    text-align: center;
  }
  .citiesCont{
    display: flex;
    gap: 10px;
  }
  .cites div{
    height: 40vh;
  }
  .citiesCont img{
    width: 100%;
    border-radius: 15px;
  }
  .citisImgCont{
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }
  .img1{
    flex-grow: 8;
  }
  .img2{
    flex-grow: 2;
  }
  .img2 img, .img1 img {
    border-radius: 15px;
    max-height: 50vh;
    width: 100%;
  }
  @media screen and (max-width : 800px){
    .citiesCont{
      flex-wrap: wrap;
    }
    .citisImgCont{
      display: block;
    }
    .img2{
      margin-top: 10px;
      height:50vh;
    }
    .img1 img, .img2 img {
      width: 100%;
      max-height: 50vh;
    }
  }
  @media screen and (max-width : 750px){
    .featureCont a{
      font-size: 13px;
      text-decoration: none;
      font-weight: 600;
      color: #485665;
    }
    .featureCont p,.cities p{
      font-size: 14.5px; 
    }
    .featureCont h1,.cites h1{
      font-size: 1.3rem;
      font-weight: 600;
      font-family: Verdana, Geneva, Tahoma, sans-serif; 
    }


}
  @media screen and (max-width : 500px){
    .featureCont p, .cities p{
      font-size: 13px; 
    } 
      .featureCont h1,.cites h1{
        font-size: 1rem;
        font-weight: 600;
        font-family: Verdana, Geneva, Tahoma, sans-serif; 
      }

}